{% extends "::layout.html.twig" %}
{% block body %}
    <div class="ui segment conteneurMain" style="height:100%;margin-top: 100px;">
        OK
    </div>
    <script type="text/javascript">
        $('.menu').find('.item').removeClass('active');
        $('.menu').find('.menuConfig').addClass('active');
    </script>
{% endblock %}